html{
    box-sizing: border-box;
    font-size: 10px;
}

*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 300;
    font-family: 'Open Sans';
    max-width: 128rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 135.2rem;
    padding-left: 21rem;
    padding-right: 20rem;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: inherit;
}

.h3{
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 700;
}    

@media (max-width: 991px) {
    .container{
        padding: 0 10rem;
    }
}

@media (max-width: 768px) {
    body{
        font-size: 1rem;
    }
    .container{
        padding: 0 3rem;
    }
}